ion-content{
    --ion-background-color:rgb(183, 178, 207) ;
  }
  
  ion-toolbar{
    --ion-background-color:#d3c9df ;
    --opacity:0;
  }
  ion-title{
      color: black;
      text-align: center;
      font-weight: bold;
  }
  