<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-title>Profile</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content>
  <div class="main">
    <div class="img">
      <ion-avatar>
        <ion-img [src]="profileImageUrl"></ion-img>
      </ion-avatar>
    </div>
  </div>
  <ion-card-title>
    {{profileName}}
  </ion-card-title>
  <ion-card>
  <ion-item>
    <ion-icon name="mail"></ion-icon>
    <ion-label>{{this.profileEmail}}</ion-label>
  </ion-item>
  <ion-item>
    <ion-icon name="call"></ion-icon>
    <ion-label>phone.no</ion-label>
  </ion-item>
</ion-card>
</ion-content>
