ion-header{
    position: absolute;
  }
  
  ion-toolbar{
    --ion-background-color: transparent;
    --opacity: 0;
  }
  
  ion-content{
    --ion-background-color:#E1EAF9 !important;
    --ion-item-background: transparent !important;
  }
ion-item{
    color: black;
}
ion-icon{
    color: black;
}
ion-input{
    color: black;
}
.img1{
    position: absolute;
}
.home{
    
    width: 20%;
    margin-left: 220px;
}
.txt1{
    text-align: center;
    margin-top: 200px;
    font-size: medium;
    font-style: italic;
    position:relative;
    
   
}
.txt2{
   margin-top: 25px;
   color-scheme: light;


}

.login:hover {
    transform: scale(1.1);
  }
.login
{
    color:white;
    width:35%;
    margin-left: 90px;
    margin-top: 25px;
    
    
}
.signup:hover {
    transform: scale(1.1);
  }
.signup
{
    color:blue;
    width:35%;
    margin-left: 90px;
    margin-top: 25px;
    
}