<ion-header class="ion-no-border">
  <ion-toolbar>
 
  </ion-toolbar>
</ion-header>

<ion-content class="ion-no-margin">
  <ion-img  class="img1"  src="assets\images\signup.png"></ion-img>
<p class="txt1"> Create Your Acccount </p>
  
    
    <div  class="txt2">
    <ion-item>
      <ion-icon name="person-outline"></ion-icon>
      <ion-input type="text" name="Name" placeholder="Enter name"></ion-input>
    </ion-item>
    <ion-item>
      <ion-icon name="call-outline"></ion-icon>
      <ion-input type="text" name="phoneno" placeholder="phone.no"></ion-input>
    </ion-item>
    <ion-item>
      <ion-icon name="mail-outline"></ion-icon>
      <ion-input type="text" name="" placeholder="Email"></ion-input>
    </ion-item>
    </div>
  
    <ion-button fill="outline" shape="round"  class="signup" (click)=" RedirectTosignup()">
      signup
    </ion-button>
    <ion-button fill="solid" shape="round" class="login " (click)="RedirectTologinscreen()">
      Login
    </ion-button>
    <ion-img  class="home" src="assets\images\home.png"  (click)="RedirectTologin()"></ion-img>
  

</ion-content>
