<ion-header class="ion-no-border">
  <ion-toolbar >
    
  </ion-toolbar>
</ion-header>

<ion-content >
  <ion-card class="ion-no-margin" >
     
    <ion-img   class="img1" src="assets\images\header.png"></ion-img>
    <ion-img  class="img2" src="assets\images\welcome.jpg"></ion-img>
    <p class="txt1"> We are happy to have you here </p>
    <ion-card-content>
      <div >
        <ion-button fill="solid" shape="round" class="login " (click)="RedirectTologinscreen()">Login</ion-button>
        <ion-button fill="outline" shape="round"  class="signup" (click)=" RedirectTosignup()">signup</ion-button>
        <p class="txt2">Login to existing or signup to create account</p>
      </div>
      <div class="txt3">
        <p>Or Via Social Media
        </p>
      </div >
      <div class="socialbut" >
        <ion-button fill="clear"  class="licon ion-no-padding">
          <ion-img    src="assets\images\facebook.png"></ion-img>
        </ion-button>
        <ion-button fill="clear"  class="licon ion-no-padding">
          <ion-img    src="assets\images\apple.png"></ion-img>
        </ion-button>
        <ion-button fill="clear"  class="licon1">
          <ion-img    src="assets\images\google.png"></ion-img>
         </ion-button>
      </div>
      
    </ion-card-content>
  </ion-card>
</ion-content>
