<ion-header class="ion-no-border">
  <ion-toolbar>
    
  </ion-toolbar>
  <ion-buttons slot="start">
     <ion-back-button defaulthref="login" text=""></ion-back-button>
  </ion-buttons>
</ion-header>

<ion-content>
 
  <ion-img   class="img2" src="assets\images\5.jpg"></ion-img>
  
  <form [formGroup]="validationFormUser" (ngSubmit)="LoginUser(validationFormUser.value)">
    <div>
      <ion-item class="credentials1">
        <ion-icon name="mail-outline"></ion-icon>
        <ion-input type="text" name="email"  formControlName="email"  placeholder="Email" ></ion-input>
      </ion-item>
      <div>
        <ng-container *ngFor="let validation of validationUserMessage.email">
            <div class="error_message" *ngIf="validationFormUser.get('email').hasError(validation.type) && (validationFormUser.get('email').dirty || validationFormUser.get('email').touched)">
             {{validation.message}}
            </div>
        </ng-container>
      </div>  
    
      <ion-item class="credentials2">
        <ion-icon name="lock-closed"></ion-icon>
        <ion-input type="password" name="password" formControlName="password"  placeholder="***********" ></ion-input>
         </ion-item>
      <div>
        <ng-container *ngFor="let validation of validationUserMessage.password">
          <div class="error_message" *ngIf="validationFormUser.get('password').hasError(validation.type) && (validationFormUser.get('password').dirty || validationFormUser.get('password').touched)">
            {{validation.message}}
          </div>
        </ng-container>
       </div>
    </div>
    <div>
      <p class="fpassword"(click)="RedirectToForgotPassword()">Forgot Password</p>
    </div>
    <div class="sign-btn-wrap">
    <ion-button fill="solid" shape="round" class="sign-btn" type="submit" [disabled]="!validationFormUser.valid" >Click TO Login</ion-button>
  </div>
    <div class="socialbut">
      <p class="txt1" >Or Login Via</p>
      <ion-button fill="clear"  class="licon ion-no-padding">
        <ion-img    src="assets\images\facebook.png"></ion-img>
      </ion-button>
      <ion-button fill="clear"  class="licon ion-no-padding">
        <ion-img    src="assets\images\apple.png"></ion-img>
      </ion-button>
      <ion-button fill="clear"  class="licon1">
        <ion-img    src="assets\images\google.png"></ion-img>
      </ion-button>
    </div>
    </form>

  <p class="txt1" >don't have account ? <ion-button fill="outline" shape="round"  class="signup" (click)=" RedirectTosignup()">signup</ion-button></p>
  <ion-img  class="home" src="assets\images\home.png"  (click)="RedirectTologin()"></ion-img>
</ion-content>
